---
layout: post
---
<h2>{{ page.title }}</h2>
{{content}}

{% unless page.comments == empty %}
<div class="comment-section">
  <h3>Comments</h3>
  {% for comment in page.comments %}
    {% if comment["email"] == "josh@flimflan.com" %}
      {% assign author_css="owner-comment" %}
    {% else %}
      {% assign author_css="" %}
    {% endif %}

    {% if comment["url"] and comment["email"] != "josh@flimflan.com" %}
    {% capture comment_author %}<a href="{{comment["url"]}}">{{comment["author"]}}</a>{% endcapture %}
    {% else %}
    {% assign comment_author = comment["author"] %}
    {% endif %}

    <div class="comment {{ author_css}}">
      {{ comment["content"] | newline_to_br }}
      <div class="comment-author">{{ comment_author }} - {{ comment["created"] | date:"%B %d, %Y %I:%M%P" }}</div>
    </div>
  {% endfor %}
</div>
{% endunless %}
